# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [30]:
import numpy as np
import pandas as pd

In [31]:
#funciones a tomar en cuenta
#pd.to_datetime()
#pd.set_index()
#pd.resample()

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [144]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime=pd.read_csv(url,sep=',')
crime=pd.DataFrame(crime)

### Step 4. What is the type of the columns?

In [145]:
crime.info()
#crime.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [146]:
#crime.Year=pd.to_datetime(crime['Year'],format='%Y')
crime['Year']=pd.to_datetime(crime['Year'],format='%Y')
#crime.info()
#help(pd.to_datetime)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 6. Set the Year column as the index of the dataframe

In [147]:
crime=crime.set_index('Year', drop=True)
#help(crime.set_index)

print(crime)

### Step 7. Delete the Total column

In [148]:
del crime['Total']
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [174]:
#uses resample to sum each decade
crimes=crime.resample('10A').sum()
#crimes.sum()
#uses resample to get the max value only for the population column
population=crime['Population'].resample('10AS').max()
#updating the population column
crimes['Population']=population
crimes

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-12-31,NaN,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-12-31,NaN,4585290,49424400,113070,257520,1875530,2339170,14614000,28918100,5892300
1980-12-31,NaN,10213630,96088300,199270,599570,4375000,5039800,30076200,56068900,9943200
1990-12-31,NaN,14549938,117640700,206839,885209,5456539,8001340,32352194,72849053,12439611
2000-12-31,NaN,17132404,116580585,203810,986445,5517676,10425809,25727107,76705256,14148520
2010-12-31,NaN,13793818,99874408,162254,917914,4191439,8522262,21682641,67203302,10992397
2020-12-31,NaN,4820769,34983325,58095,335466,1380720,2982298,7956713,24197097,2829515

### Step 9. What is the mos dangerous decade to live in the US?

In [166]:
#ojo resample solo funciona si el indice es temporal
maxcrime=crime['Violent'].resample('10A').sum().max()
maxcrime
cime

17132404